html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
  background: #f0f9ff; /* Old browsers */
  background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  min-height: 100%;
}

#main-title {
  font-size: 2em;
}
section {
  width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
}

h1, footer {
  text-align: center;
  font-family: cursive;
}
